

#example_4 ul li {
  padding-bottom:10px;
  }
  #content {
  padding:15px 20px 15px 10px;
  }
  #jenkins {margin-left: 10px;}

.hero-unit {
  background-image:url('../img/xmas/flowers.jpg');
}


a {
    color: #651C26;
    text-decoration: none;
}

a:hover {
    color:rgba(0,128,43,1);
}

.hero-unit h1 {
    font-family:'xmas';
    color: white;
    margin-top: 8px;
    font-size:55px;
    font-weight:lighter;

}

.span3 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.span4 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar, .navbar-inner {
    background: #365c34;
background: -moz-linear-gradient(-45deg, #365c34 0%, #00802b 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #365c34), color-stop(100%, #00802b));
background: -webkit-linear-gradient(-45deg, #365c34 0%, #00802b 100%);
background: -o-linear-gradient(-45deg, #365c34 0%, #00802b 100%);
background: -ms-linear-gradient(-45deg, #365c34 0%, #00802b 100%);
background: linear-gradient(135deg, #365c34 0%, #00802b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365c34', endColorstr='#00802b', GradientType=1 );

}




.navbar .nav > li > a:hover {
    color:#DD101F;
}

  